In [1]:
a={1,2,3,4,5}
b={5,6,7}
type(2 in a)

bool

In [2]:
a={1,2,3,4,5}
b={5,6,7}
b.issubset(a)

False

In [4]:
def is_subset(A,B):
   
    for e in A :
       if e in B:
         pass
       else: 
         return False
    return True


A={1,2,3,4,5}
B={5,6,7}
sub=is_subset(A,B)
print(sub)

False

In [10]:
import numpy as np 
uni = set(np.arange(10))
uni

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
import numpy as np 
uni = set(np.arange(0,10,2))
uni

{0, 2, 4, 6, 8}

In [13]:
import numpy as np 
uni = set(np.arange(10))
A=set(np.arange(0,10,2))
B=set(np.arange(0,10,3))
print("\n universal set : " ,uni )
print("\n set A : " ,A )
print("\n set B : " ,B )
print("\n set A U B : " ,A.union(B) )

 universal set :  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

 set A :  {0, 2, 4, 6, 8}

 set B :  {0, 9, 3, 6}

 set A U B :  {0, 2, 3, 4, 6, 8, 9}